#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  /* margin: 30px 0px;
  padding: 0 30px; */
  /* background-color: #060b17; */
  background-image: url("../images/profile.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero > h1 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Playfair Display";
}
.intro-text {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Playfair Display";
  margin-top: -1.5px;
}
.text-changer {
  height: 50px;
  border-radius: 10px;
  display: flex;
  font-size: 18.5px;
  font-weight: 500;
  font-family: "Playfair Display";
  box-sizing: content-box;
}
.roles-container {
  overflow: hidden;
  position: inherit;
}
.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

.role {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #00ffe1;
  animation: role-change 4.5s infinite;
}
@keyframes role-change {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}
#hero > p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}

#hero > a {
  font-weight: normal;
  background-color: transparent;
  padding: 10px 15px;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: inherit;
  border-color: white;
}

#hero > button > span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#hero > button > i {
  font-size: 15px;
  margin-left: 5px;
}
