/* Sidebar styles */
.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  font-size: 24px;
  cursor: pointer;
  /* cursor: grab; */
  z-index: 50;
  transition-duration: 500ms;
}

.sidebar_hamburger_translate {
  transform: translateX(260px);
}

.sidebar_content {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 260px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 100px 20px;
  z-index: 20;
  /* transform: translateX(-200px); */
  transition-duration: 500ms;
  justify-content: center;
}

.sidebar_content.active {
  left: 0;
}

.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0px);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__list > li {
  margin-bottom: 20px;
}

.sidebar_image {
  /* margin: auto; */
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 260px;
  margin-left: 38.5px;
}
.sidebar__name {
  font-size: 22px;
  color: black;
  margin-bottom: 7.5px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-top: -250px;
}
.sidebar__job {
  font-size: 12px;
  font-weight: normal;
  color: #2c98f0;
  text-transform: uppercase;
  text-align: center;
}

.sidebar__job > span {
  color: rgba(0, 0, 0, 0.7);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar__list__item {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  cursor: pointer;
  text-align: center;
}
.sidebar__list__item::after {
  content: "";
  width: 0px;
  height: 1px;
  background: #2c98f0;
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 0.2s;
}

.sidebar__list__item:hover::after {
  width: 120%;
}

.sidebar__copyright {
  padding: 0 20px;
  margin-bottom: -50px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 2;
}

.sidebar__copyright > span {
  color: #2c98f0;
}

@media screen and (min-width: 768px) {
  body {
    margin-left: 300px;
  }
  .sidebar__hamburger {
    display: none;
  }
  .sidebar__content {
    left: 0 !important;
    transform: unset !important; /*edge case for mobile to desktop mode switch, while sidebar visible*/
  }
}
